<!--
  Angular structural directive *ngIf to conditionally include the content
  if the peopleAll$ observable emits a value. The async pipe subscribes to the
  observable and assigns the emitted value to the local variable 'people'.
-->
<ng-container *ngIf="peopleAllThree$ | async as people; else loadingData">

  <!--
    Structural directive *ngIf to check if the 'people' array has elements.
    If 'people' is not empty, iterate over the 'people' array.
    For each element in the array, a <div> with a style is created showing the specific property.
  -->
  <ng-container *ngIf="people.length > 0">
    <div class="absolute flex flex-row gap-6">

      <div *ngFor="let jedi of people"
           [ngClass]="{'yoda-bg-img': jedi['name'] === 'Yoda', 'darth-vader-bg-img' : jedi['name'] === 'Darth Vader', 'obi-wan-kenobi-bg-img' : jedi['name'] === 'Obi-Wan Kenobi' }"
           class="p-6 rounded-lg shadow-star-wars">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Name: {{ jedi['name'] }}<br>
          Height: {{ jedi['height'] }}<br>
          Mass: {{ jedi['mass'] }}<br>
          Hair color: {{ jedi['hair_color'] }}<br>
          Skin color: {{ jedi['skin_color'] }}<br>
          Eye color: {{ jedi['eye_color'] }}<br>
          Birth year: {{ jedi['birth_year'] }}<br>
          Gender: {{ jedi['gender'] }}<br>
        </p>

        <a href="#"
           class="bg-edit-bg inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Edit
        </a>

      </div>

    </div>

  </ng-container>

  <!--
    If the 'people' array is empty, display a message indicating that no data is available.
  -->
  <ng-container *ngIf="people.length === 0">
    No data available
  </ng-container>

</ng-container>

<!--
  Define a template reference 'loadingData' that is displayed
  while the data is being loaded (observable has not emitted a value yet).
  The <app-spinner> component is displayed based on the 'spinner' boolean variable.
-->
<ng-template #loadingData>
  <div class="relative top-2/4 left-2/4">
    <app-spinner *ngIf="spinner"></app-spinner>
  </div>
</ng-template>

<!--
  Display the error message if 'errorMessage' is defined.
  This is shown if there is an error in fetching the data.
-->
<div *ngIf="errorMessage">
  Error: {{ errorMessage }}
</div>
